input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: rgb(192, 139, 103);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #D2691E;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  #formDiv{
    margin-top: 10%;
}


#clearButton {
  background-color: rgb(192, 139, 103);
  border-radius: 3px;
  border: 1px solid rgb(192, 139, 103);
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#clearButton:hover,
#clearButton:focus {
  background-color: #D2691E;
  color: whitesmoke;
}

#clearButton:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#clearButton:active {
  background-color: rgb(192, 139, 103);
  box-shadow: none;
  color: #2c5777;
}